.welcomeContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #2f3031;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.welcomeContainer h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.welcomeContainer p {
    font-size: 16px;
    color: grey;
}

.logo {
    color: #c03d33;
    font-weight: bold;
}

.authOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.authLink {
    margin: 15px;
    
    &:hover {
        background: #2f33a1;
    }
}
.guestButton, .goToFeed {
    width: 100%;
    padding: 12px;
    background: #c03d33;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.guestButton:hover, .goToFeed:hover {
    background: #c82333;
}
