.postContainer {
  padding: 20px;
  background: #2f3031;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.postActions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.editButton, .backButton {
  background-color: #3137c9;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
      background-color: #2f33a1;
  }
}
.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
      background-color: #c82333;
  }
}